.slide-1 {
  width: 100%;
  height: 100vh;
  padding: 50px 100px;
}
.slide-1 h2 {
  font-family: var(--font-family);
  font-size: 60px;
  font-weight: 800;
  color: white;
}
.renio-one {
  background: linear-gradient(90deg, #5c4099 0%, #952e82 100%);
  display: flex;
  align-items: center;
}
.renio-two {
  background: linear-gradient(90deg, #4765e6 0%, #5c4099 100%);
  display: flex;
  align-items: center;
}
.renio-Maxi {
  background: linear-gradient(90deg, #5c4099 0%, #952e82 100%);
  display: flex;
  align-items: center;
}
.renio-Mini {
  background: linear-gradient(90deg, #5c4099 0%, #952e82 100%);
  display: flex;
  align-items: center;
}
.text-right {
  text-align: right;
}
.left-box img {
  max-width: 80%;
}
.renio-button {
  position: relative;
  display: inline-block;
}

.renio-button button {
  font-size: 14px;
  font-family: var(--font-family);
  font-weight: 500;
  line-height: 24px;
  color: #000;
  background-color: #fff;
  padding: 7px 0px;
  border-radius: 8px;
  border: none;
  position: relative;
  z-index: 1;
  flex: 1;
}

/* Pseudo-element for gradient border */
.renio-button button::before {
  content: "";
  position: absolute;
  inset: 0;
  padding: 1px;
  border-radius: 8px; /* Make sure it matches button's border-radius */
  background: linear-gradient(90deg, #4765e6 0%, #5c4099 46%, #e31662 100%);
  -webkit-mask: 
    linear-gradient(#fff 0 0) content-box, 
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: destination-out;
  mask-composite: exclude;
  z-index: 0;
}


.active {
  background: linear-gradient(90deg, #4765e6 0%, #5c4099 46%, #e31662 100%);
  color: white !important;
  border: 2px solid white !important;
}

.renio-button {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 20px;
  margin-bottom: 80px;
  width: 100%;
}
.renio-grid {
  width: 80%;
  margin: 0 auto;
}

.renio-grid-system {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}
.renio-grid-system div {
  width: 26%;
  background-color: #fff;
  border-radius: 8px;
  padding: 10px 0;
  text-align: center;
  min-height: 96px !important;
}
.renio-grid-system h6{
  font-weight: 400;
  color: #000;
}
.renio-grid-system img {
  margin-bottom: 5px;
}
.renio-grid h5 {
  text-align: center;
  color: white;
  margin-bottom: 20px;
}

.renio-footer-div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.renio-footer-div div {
  background-color: white;
  padding: 20px 30px;
  border-radius: 8px;
  text-align: center;
}
