.main-slider {
  position: relative;
  height: 100vh;
  display: flex !important;
  align-items: center;
  justify-content: center;
}
.main-slider div {
  flex: 1;
}
.main-slider img {
  max-width: 60%;
  text-align: center;
  margin: 0 auto;
}
.main-slider h2 {
  font-size: 80px;
  color: white;
  font-weight: 800;
  margin-bottom: -23px;
}
.main-slider h4 {
  font-size: 80px;
  color: white;
  font-weight: 400;
}
.main-slider p {
  font-size: 14px;
  line-height: 24px;
  color: white;
}
.main-slider h6 {
  font-size: 20px;
  color: white;
  font-weight: bold;
  margin-bottom: 20px;
  line-height: 28px;
}
.swiper-button-next {
  transform: translateX(-50%);
  color: #e31662;
  background: white;
  padding: 30px 30px;
  border-radius: 30px;
  position: absolute;

}
.swiper-button-prev {
  transform: translateX(0%);
  color: #e31662;
  background: white;
  padding: 30px 30px;
  border-radius: 30px;
  position: absolute;

}

.swiper-button-prev:after,
.swiper-button-next:after {
  font-size: 24px !important;
  font-weight: 700 !important;
}
