.monitization-section {
  background: radial-gradient(
    circle,
    rgba(230, 0, 92, 0.3) 20%,
    rgba(230, 0, 92, 0) 50%
  );
  background-color: white;
}
.right-elem .hide-img {
  height: 7vw;
  width: 7vw;
  border-radius: 50%;
  object-fit: cover;
  opacity: 0;
  position: absolute;
  scale: 0;
}

/* .renie-bin-wrapper h2{
  width: 40%;
  margin: 0 auto;
} */
.moni-wrapper {
  padding: 100px 0px;
}
.custom-renie-moni-image img {
  max-width: 100%;
  margin: 0 auto;
  margin-top: 10%;
}
.moni-wrapper h1 {
  color: #e31662;
  font-weight: 700;
  text-align: left;
  margin-bottom: 10px;
}
.moni-wrapper p {
  text-align: left;
  padding-right: 15%;
}
.moni-wrapper video {
  border-radius: 20px;
  margin: 0 auto;
  margin-top: 30px;
}
.why-choose h2 {
  color: #e31662;
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
}
.why-choose h5 {
  font-size: 20px;
  font-weight: 500;
  color: black;
}
.benefits {
  height: 80vh;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
}
.benefits h2 {
  color: white;
  font-size: 50px;
  line-height: 65px;
  text-align: center;
  font-weight: 700;
  width: 50%;
  margin: 0 auto;
}
.benefits h3 {
  color: white;
}
.benefits p {
  color: white;
}
.blogs .swiper {
  margin-top: 30px;
}
.custom-rows .col-lg-12 {
  border-bottom: 1px solid #383c4e;
  padding-bottom: 15px;
}
.custom-rows .col-lg-12:nth-child(5) {
  border-bottom: 0px;
}
.why-choose {
  background-color: white;
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.RenieData {
  background-color: transparent;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.moni-blog .swiper-slide {
  min-height: 400px !important;
}
.futuredata {
  background-color: white;
  padding: 50px 0px;
}
.futuredata h2 {
  font-size: 40px;
  line-height: 45px;
  color: #5c4099;
  font-weight: 700;
}
.futuredata p {
  color: #383c4e;
  font-size: 18px;
  line-height: 1.6rem;
}
.JoinNow {
  background-color: #4765e6;
  padding: 50px 0px;
}
.renieeee {
  min-height: 100vh;
  display: flex;
  align-items: center;
}
.JoinNow h2 {
  color: white;
  width: 70%;
  font-weight: 400;
}
.JoinNow p {
  color: white;
  font-weight: 300;
}
.JoinNow button {
  background-color: #e31662;
  color: white;
  padding: 16px 80px;
  border-radius: 30px;
  font-size: 16px;
}
.monitization-custom-data{
  display: flex;
  align-items: center;
}
.downarrow-image img {
  position: absolute;
  bottom: 7%;
  right: 6%;
}                               
.data-banner {
  min-height: 100vh;
  display: flex;
  position: relative;
}
.data-banner .container-xl{
  display: flex;
  align-items: center
}
.data-banner h1 {
  color: white;
  font-size: 50px;
  font-weight: 600;
}
.data-banner p {
  color: white;
  font-size: 18px;
}
.custom-data-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.software-left-data h2 {
  color: white;
  font-weight: 900;
  text-align: left;
  margin-bottom: 10px;
}
.software-left-data p {
  color: white;
  font-size: 18px;
  font-weight: 300;
  text-align: left;
}
.software-left-data {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.renie-data {
  min-height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.software-right-data {
  background: white;
  padding: 50px 30px 30px 30px;
  border-radius: 12px;
  margin-left: 4%;
  width: 558px;
}
.software-right-data h1 {
  font-weight: 800;
  background: -webkit-linear-gradient(250deg, #ffffff 0%, #4765e6 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: absolute;
  top: -80px;
}
.software-left-data {
  padding-right: 50px;
}
.software-right-data h6 {
  font-size: 22px;
  font-weight: 700;
  background: -webkit-linear-gradient(
    80deg,
    #4765e6 0%,
    #5c4099 46%,
    #e31662 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  width: 58%;
  line-height: 30px;
}
.software-right-data p {
  font-size: 16px;
  font-weight: 300;
  color: #383c4e;
}
.m-data {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
  transform: translateX(-70px);
}
.software-right-data img {
  background: linear-gradient(90deg, #4765e6 0%, #5c4099 46%, #e31662 100%);
  padding: 10px 15px;
  border-radius: 15px;
  max-width: 22%;
}


@media (max-width: 1200px) {
  .data-banner h1 {
    font-size: 40px;
  }
  .data-banner p {
    font-size: 16px;
  }
  .moni-wrapper h2 {
    font-size: 40px;
  }
  .moni-wrapper p {
    font-size: 16px;
  }
  .software-left-data h2 {
    font-size: 35px;
  }
  .software-left-data p {
    font-size: 16px;
  }
  .why-choose {
    height: 83vh;
    padding: 0px 20px;
  }
  .why-choose h2 {
    font-size: 34px;
    line-height: 40px;
  }
  .why-choose h5 {
    font-size: 16px;
  }
  .custom-cursure p {
    font-size: 14px;
  }
  .benefits h2 {
    font-size: 40px;
    line-height: 46px;
  }
  .blogs div p {
    font-size: 14px;
  }
  .futuredata p {
    font-size: 14px;
    line-height: 1.4rem;
  }
  .futuredata h2 {
    font-size: 35px;
    line-height: 39px;
  }
}
@media (max-width: 992px) {
  .data-banner h1 {
    font-size: 30px;
  }
  .data-banner {
    min-height: 58vh;
    align-items: self-end;
    padding-bottom: 30px;
  }
  .software-right-data {
    width: 750px;
    margin-left: 5%;
  }
  .renieeee {
    min-height: 80vh;
  }
  .software-right-data h6 {
    line-height: 30px;
  }
  .software-left-data h2 {
    font-size: 26px;
  }
  .software-left-data p {
    font-size: 14px;
    margin-top: 10px;
    text-align: center;
  }
  .renie-bin-wrapper h2 {
    width: 60%;
}
  .why-choose h2 {
    font-size: 30px;
    line-height: 36px;
    margin-bottom: 20px;
  }
  .moni-blog .swiper-slide {
    min-height: 320px !important;
}
  .benefits h2 {
    font-size: 36px;
    line-height: 40px;
    width: 100%;
  }
  .blogs .swiper {
    padding-bottom: 50px;
  }
  .footer-left-section h6 {
    font-size: 20px !important;
  }
  .newsletter button {
    font-size: 9px;
    padding: 5px 16px;
    right: 2%;
    top: 24%;
  }
  .custom-renie-card .col-md-12 {
    width: 100% !important;
  }
  .custom-renie-card {
    flex-wrap: wrap;
  }
}
@media (max-width: 768px) {
  .software-right-data {
    width: 670px !important;
  }
  .moni-blog .swiper-slide {
    min-height: 280px !important;
  }
  .m-data {
    transform: translateX(-154px);
  }
  .software-right-data img {
    max-width: 34%;
  }
  .m-data {
    width: 74%;
  }
  .benefits {
    height: 70vh !important;
    padding: 0px 20px;
  }
  .software-right-container p {
    text-align: left;
  }
  .software-right-data h6 {
    text-align: left;
  }
  .why-choose {
    height: 100vh;
    padding: 0px 20px;
  }
  .custom-cursure .col-lg-8 {
    padding-left: 0px !important;
  }
  .benefits h2 {
    font-size: 29px;
    line-height: 35px;
    width: 50%;
  }
  .futuredata,
  .JoinNow {
    padding: 50px 30px;
    text-align: center;
  }
  .futuredata h2 {
    font-size: 30px;
    line-height: 40px;
    text-align: center;
  }
  .futuredata p {
    text-align: center;
  }
  .benefits {
    height: 100vh;
  }
  .custom-software-data {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10%;
  }
  .software-left-data {
    text-align: center;
    padding-right: 0px !important;
  }
}
@media (max-width: 576px) {
  .data-banner .row {
    flex-direction: column-reverse;
  }
  .data-banner h1 {
    margin-bottom: 10px;
  }
  .data-banner {
    min-height: 88vh;
    text-align: center;
  }
  .data-banner p {
    width: 70%;
    margin: 0 auto;
  }
  .moni-wrapper h1 {
    text-align: center;
}
.software-right-data h1 {
  font-size: 70px;
  line-height: 90px;
}
  .reee {
    padding: 50px 0px;
  }
  .reee .software-right-container {
    height: 315px !important;
  }
  .software-right-data p {
    font-size: 14px;
    padding-right: 20px;
  }
  .moni-wrapper {
    padding: 50px 0;
  }
  .moni-wrapper p {
    font-size: 14px;
    text-align: center;
    padding: 0;
}
.moni-wrapper video {
  display: none;
}
  .moni-wrapper h2 {
    font-size: 22px;
    line-height: 28px;
    text-align: center;
  }
  .moni-wrapper p {
    font-size: 14px;
  }
  .software-right-data {
    width: 90% !important;
  }
  .software-right-data h1 {
    font-size: 70px;
    top: -57px;
  }
  .software-right-data h6 {
    font-size: 20px;
    width: 78%;
    line-height: 26px !important;
  }
  .software-right-data img {
    padding: 12px 15px;
    max-width: 30% !important;
  }
  .m-data {
    width: 100%;
  }
  .custom-arrow {
    width: auto;
    margin: 10px 0px;
  }
  .m-data {
    transform: translateX(-50px);
  }
  .custom-rows .col-lg-12 {
    padding-bottom: 0px;
  }
  .why-choose h2 {
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 14px;
  }
  .why-choose {
    height: 136vh;
    padding: 0 20px;
  }
  .mobile-nav {
    display: none;
  }
  .renieeee {
    min-height: 80vh;
    display: flex;
    align-items: center;
  }
  .custom-cursure p {
    font-size: 13px;
  }
  .benefits h2 {
    font-size: 26px;
    line-height: 32px;
    width: 100%;
  }
  .benefits {
    height: 70vh;
  }
  .futuredata h2 {
    font-size: 24px;
    line-height: 30px;
  }
  .blogs div h3 {
    text-align: center;
    margin-top: 10px;
  }
  .blogs div p {
    text-align: center;
  }
  .blogs img {
    width: 100%;
    margin: 0 auto;
  }
  .blogs .swiper {
    margin-top: 0px;
  }
  .software-left-data h2 {
    text-align: center;
  }
  .software-right-data {
    width: 300px !important;
    margin-left: 26px !important;
  }
  .benefits {
    min-height: 100vh;
  }
  .footer-left-section h6 {
    font-size: 10px !important;
  }
}
