.rene-banner {
  background: linear-gradient(150deg, #4765e6 0%, #5c4099 46%, #e31662 100%);
  min-height: 100vh;
  width: 100%;
}
.animated-h2 {
  font-size: 50px;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 45px;
  background: -webkit-linear-gradient(
    80deg,
    #4765e6 0%,
    #5c4099 46%,
    #e31662 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  width: 60%;
  margin: 0 auto;
  text-align: center;
}
.custom-margin-top {
  margin-top: 40px;
}
.main-renie-banner {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  color: white;
  width: 100%;
  position: absolute;
  top: 2%;
  left: 0;
}
.custom-svg-heading {
  font-size: 20px;
  color: white;
  text-align: left;
  padding: 0px 40px;
  line-height: 24px;
  font-weight: 600;
}
.main-renie-banner img {
  max-width: 100%;
  height: auto;
}
.main-renie-banner h1 {
  font-size: 36px;
  font-weight: bold;
  width: 70%;
}
.main-renie-banner h5 {
  font-size: 24px;
  font-weight: 600;
}
.renie-nexus{
  background-color: white;
}
.main-renie-nexus h2 {
  color: #4765e6;
  font-size: 60px;
  line-height: 65px;
  font-weight: 800;
  width: 70%;
}
.main-renie-nexus p {
  font-size: 14px;
  font-weight: 400;
  color: black;
  margin: 10px 0px;
  width: 80%;
  margin: 20px 0px;
}
.main-renie-nexus button {
  font-size: 14px;
  background-color: #e31662;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  margin-top: 10px;
}
.renie-love {
  background: linear-gradient(120deg, #4765e6 0%, #4765e6 46%, #283880 100%);
  min-height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.renie-love h2 {
  color: white;
  font-size: 50px;
  text-align: center;
  font-weight: 600;
}
.races {
  width: fit-content;
  display: flex;
  flex-wrap: nowrap;
}
.races img {
  max-width: 30%;
}
.easystep {
  background-image: url("/assets/easybg.webp");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.easystep-wrapper {
  height: 100vh;
  padding: 120px 10px;
  display: flex;
  align-items: start;
  justify-content: center;
}
.easystep-wrapper h2 {
  font-size: 60px;
  text-align: center;
  font-weight: 800;
  color: white;
}
.left-track h3 {
  font-size: 60px;
  color: white;
  font-weight: 800;
}
.left-track p {
  font-size: 18px;
  color: white;
  width: 60%;
}

.vertical-box div {
  width: 150px;
  background-color: #e31662;
  height: 50vh;
  position: absolute;
  right: 0;
  top: 12vh;
}
.vertical-box-right div {
  width: 150px;
  background-color: #5c4099;
  height: 50vh;
  position: absolute;
  left: 0;
  top: 12vh;
}

.white-box {
  position: absolute;
  right: 10%;
  top: 25rem;
}
.scan-title-2 {
  top: 22rem !important;
  left: 25%;
}
.custom-scan-height {
  min-height: 66vh;
}
.scan-title {
  position: absolute;
  top: 20vh;
}
.white-box-2 {
  top: 20% !important;
  left: 15%;
}
.animatedsection {
  background-color: white;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.green {
  background: linear-gradient(150deg, #4765e6 0%, #5c4099 46%, #e31662 100%);
  min-height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.green h2 {
  color: white;
  text-align: center;
  font-size: 100px;
  font-weight: 800;
  line-height: 110px;
  margin-bottom: 10px;
}
.green p {
  color: white;
  text-align: center;
  width: 80%;
  margin: 0 auto;
}
.green button {
  background-color: #e31662;
  color: white;
  padding: 10px 20px;
  border-radius: 8px;
  text-align: center;
  display: block;
}
.main-renie-banner img {
  max-width: 65%;
}
.animated-left-section div {
  width: 80%;
  margin-bottom: 25px;
}
.animated-left-section h4 {
  font-size: 18px;
  font-weight: 500;
  line-height: 28px;
  color: black;
}
@media (min-width: 1440px){
  .main-renie-banner {
    top: 5%;
}
.main-renie-banner h1{
  font-size: 60px;
  width: 50%;
}
}

@media (max-width: 1200px) {
  .main-renie-banner img {
    max-width: 40%;
  }
  .main-renie-banner {
    top: 4%;
  }
  .animated-h2 {
    font-size: 40px;
  }
  .custom-svg-heading {
    font-size: 14px !important;
    padding: 0px 20px !important;
    line-height: 18px !important;
  }
  .main-renie-nexus h2 {
    font-size: 45px;
    line-height: 48px;
  }
  .left-track h3 {
    font-size: 36px;
  }
  .scan-title-2 {
    left: 36%;
  }
  .left-track p {
    font-size: 13px;
    width: 80%;
    margin-top: 10px;
  }
  .green h2 {
    font-size: 60px;
  }
}
@media (max-width: 992px) {
  .main-renie-nexus h2 {
    font-size: 36px;
    line-height: 40px;
  }
  .animated-h2 {
    font-size: 30px;
  }
  .custom-data-svg iframe,
  .custom-data-svg img {
    height: 200px !important;
  }
  .animated-left-section h4 {
    font-size: 14px;
    line-height: 20px;
  }
  .animatedsection {
    min-height: 70vh;
  }
  .green {
    background: linear-gradient(150deg, #4765e6 0%, #5c4099 46%, #e31662 100%);
    min-height: 60vh;
  }
  .renie-love h2 {
    font-size: 42px;
  }
  .main-renie-nexus p {
    width: 100%;
  }
  .easystep-wrapper h2 {
    font-size: 50px;
  }
  .easystep-wrapper {
    padding: 50px 0px;
  }
  .custom-scan-height {
    min-height: 40vh;
  }
  .vertical-box div {
    width: 100px;
  }
  .vertical-box-right div {
    width: 100px;
  }
  .white-box-2 {
    top: 33% !important;
  }
  .left-track p {
    width: 74%;
  }
  .green h2 {
    font-size: 50px;
    line-height: 55px;
  }
}
@media (max-width: 786px) {
  .main-renie-banner {
    top: 4%;
  }
  .renie-nexus-wrapper img {
    max-width: 100%;
    margin: 0 auto;
  }
  .main-renie-nexus {
    text-align: center;
    width: 80%;
    margin: 0 auto;
    padding: 50px 0px;
  }
  .main-renie-nexus h2 {
    width: 100%;
  }
  .green {
    min-height: 56vh;
  }
  .easystep-wrapper h2 {
    font-size: 36px;
  }
  .left-track h3 {
    font-size: 27px;
  }
  .left-track p {
    font-size: 12px;
    width: 70%;
  }
  .white-box {
    max-width: 50%;
  }
  .animated-left-column .custom-scan-height {
    margin-left: 20px;
  }
}
@media (max-width: 576px) {
  .green h2 {
    font-size: 32px;
    line-height: 38px;
  }
  .animatedsection {
    min-height: 100vh;
    padding: 50px 0px;
}
.custom-margin-top{
  flex-direction: column-reverse;
}
.renie-love h2 {
  font-size: 28px;
  padding: 0px 46px;
}
.animated-main-image{
  margin-bottom: 30px;
}
.animated-left-section div {
flex-direction: column-reverse;
text-align: center;
margin-bottom: 10px;

}
.animated-left-section h4 {
  width: 80%;
}
.renie-love{
  min-height: 100vh !important;
  padding: 50px 10px;
}
  .easystep-wrapper h2 {
    font-size: 26px;
  }
  .custom-svg-heading {
    text-align: center;
    margin-bottom: 0px;
    font-size: 12px !important;
    padding: 0 20px !important;
    line-height: 16px !important;
}
.animated-h2 {
  font-size: 26px;
  width: 100%;
}
.animated-left-section div {
  width: 95%;
}
.custom-margin-top {
  margin-top: 20px;
}
  .scan-title {
    top: 8vh;
  }
  .white-box {
    top: 12rem;
    right: 16.4rem;
    max-width: 34% !important;
  }
  .vertical-box div {
    height: 30vh;
    right: 20px;
    top: 12vh;
  }
  .vertical-box-right div {
    height: 35vh;
    left: 18px;
    top: 1vh;
  }
  .scan-title-2 {
    left: 33%;
    top: 1rem !important;
  }
  .white-box-2 {
    top: 48% !important;
    left: 16rem !important;
  }
  .custom-scan-height {
    min-height: 44vh !important;
  }
  .renie-love h2 {
    font-size: 30px;
  }
  .custom-love-images img {
    max-width: 100%;
  }
  .main-renie-banner h1 {
    font-size: 27px !important;
    width: 80% !important;
    margin-bottom: 10px;
  }
  .main-renie-banner h5 {
    font-size: 20px;
  }
  .main-renie-banner img {
    max-width: 70% !important;
  }
}
