.main-navbar {
  background-color: white !important;
}
.renie-bin-custom{
display: flex;
align-items: center;
justify-content: center;
}
.renie-bin-custom div{
  background-color: white;
  margin: 20px;
  padding: 10px;
  border-radius: 6px;
}
.renie-bin-custom p{
  color: black !important;
  font-size: 12px !important;
  font-weight: 400 !important;
}
.renie-bin-custom div{
  text-align: center;
}
.renie-bin-custom div img{
  max-width: 60%;
  margin: 0 auto;
  margin-bottom: 10px;
}
.reniebin-paragraph p{
  color: white;
  font-size: 18px;
  font-weight: 300;
  text-align: center;
  width: 80%;
  margin: 0 auto;
  padding-top: 30px;
}
.reniebin-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: linear-gradient(150deg, #4765e6 0%, #5c4099 46%, #e31662 100%);
}
.canvas-container-1{
  display: flex;
  justify-content: center;
}
.discover-image {
  display: flex;
  justify-content: end;
  margin-top: 10px !important;
}
.reniebin-wrapper .bin-image {
  max-width: 38%;
}
.renie-main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 10%;
}
.renie-main-content h1 {
  font-size: 40px;
  font-weight: 600;
  color: white;
  text-align: center;
}
.renie-main-content p {
  font-size: 20px;
  font-weight: 300;
  color: white;
}
.banner-boxes {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.banner-boxes img {
  max-width: 25%;
}
.banner-boxes h6 {
  color: white;
  font-size: 18px;
  line-height: 24px;
}

.RenieSection2 {
  background: linear-gradient(150deg, #4765e6 0%, #4765e6 10%, #283880 100%);
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  min-height: 100vh;
  width: 100%;
}
.RenieSection2 .banner-svg-renie {
  width: 100%;
  height: 100vh;
}
.banner-svg-bin {
  height: 100vh;
}
.RenieSection2-container {
  width: 100%;
  height: 100vh;
  position: relative;
}
.renie-card {
  background: white;
  position: absolute;
  top: 30%;
  text-align: center;
  padding: 60px 0px;
  border-radius: 90px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  width: 170px;
  max-width: 100%;
  margin-left: 2.5%;
}
.banner-sv {
  width: 170px;
}
.renie-card p {
  font-weight: 600;
}
.renie-card-parent .renie-card:nth-child(2) {
  position: absolute;
  right: 0;
  top: 10%;
  margin-right: 30px;
}

.renie-card-parent .renie-card:nth-child(3) {
  position: absolute;
  left: 60%;
  transform: translateY(50%);
}
.MeetRenieBin {
  background: linear-gradient(150deg, #4765e6 0%, #4765e6 10%, #283880 100%);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.meet-main-banner h2 {
  color: white;
  font-size: 40px;
  font-weight: 600;
  text-align: center;
}
.meet-main-banner p {
  color: white;
  font-size: 20px;
  font-weight: 300;
  text-align: center;
}
.meet-image {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  padding: 0px 20px;
}
.meet-image img {
  max-width: 100%;
}
.meet-para {
  color: white;
  text-align: center;
  width: 70%;
  margin: 0 auto;
  font-weight: 300;
}
.meet-mini-box {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.meet-mini-box p {
  color: black;
  font-size: 16px;
  font-weight: 400;
}
.meet-mini-box img {
  max-width: 60%;
}
.meet-mini-box div {
  background-color: white;
  border-radius: 10px;
  text-align: center;
  margin-top: 30px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.padding-top-100{
  padding: 100px 0px
}
.power-wrapper {
  background: linear-gradient(150deg, #4765e6 0%, #5c4099 46%, #e31662 100%);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.power-2 h2 {
  color: #fff;
  font-size: 70px;
  font-weight: 600;
  text-align: left;
  width: 50%;
  line-height: 60px;
}
.power {
  width: 100%;
}
.power h2 {
  color: white;
  font-size: 55px;
  font-weight: 600;
  text-align: left;
}
.power p {
  color: white;
  font-weight: 300;
  font-size: 16px;
  text-align: left;
  width: 60%;
}
.power-youtube {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  margin-top: 50px;
}
.power-youtube iframe {
  width: 50%;
  height: 40vh;
  border-radius: 15px;
}
.ground-renie h2 {
  color: white;
  font-size: 40px;
  text-align: center;
  margin-bottom: -50px;
  padding-top: 100px;
}
.crafted-renie h2 {
  color: white;
  text-align: left;
  font-size: 40px;
  width: 50%;
  font-weight: 500;
  margin-bottom: 30px;
}
.crafted-card h3 {
  color: white;
  width: 50%;
  font-size: 26px;
  font-weight: 400;
}
.crafted-card {
  background-image: url("/assets/card-background.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 500px;
  width: 100%;
  padding: 40px;
  border-radius: 20px;
  transition: all 0.5s ease-in-out;
}

.crafted-card:hover {
  animation: backgroundZoom 1s infinite alternate ease-in-out;
}

@keyframes backgroundZoom {
  0% {
    background-size: 100%;
  }
  100% {
    background-size: 130%;
  }
}

.crafted-card-1 {
  background: linear-gradient(150deg, #952e82 5%, #5c4099 100%);
  color: white;
  border-radius: 20px;
  padding: 40px;
  position: relative;
  height: 240px;
  margin-bottom: 20px;
}
.crafted-card-1 h3:nth-child(2) {
  font-weight: 300;
  font-size: 26px;
  margin-bottom: 20px;
}
.crafted-card-1 ul li {
  list-style-type: circle !important;
  margin-left: 20px;
}
.crafted-card-1 img {
  position: absolute;
  right: 10%;
  bottom: 10%;
}
.custom-boxes .crafted-card-1:nth-child(2) {
  background-image: url("/assets/card-image.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.custom-boxes .crafted-card-1:nth-child(2) h3 {
  color: black;
  position: absolute;
  bottom: 4%;
  width: 30%;
  font-size: 26px;
}
.discover {
  background-color: #4765e6;
  color: white;
  padding: 30px 0px;
  text-align: right;
}
.discover p {
  color: white !important;
  text-align: left !important;
  width: 70%;
}
.discover h2 {
  color: white !important;
  text-align: left !important;
  font-size: 40px;
}
.discover img {
  max-width: 30%;
}
.ProductRenie h2 {
  text-align: left;
  margin-bottom: 50px;
  color: #fff !important;
  font-size: 40px;
  font-weight: 400;
}
.product-box {
  padding-right: 30px;
}

.product-box-wrapper h3 {
  color: white;
  font-size: 18px;
  font-weight: 500;
}
.product-box-wrapper p {
  color: white;
  font-size: 14px;
  font-weight: 300;
}
.product-box-wrapper {
  display: flex;
  align-items: flex-start;
  gap: 20px;
}
.product-box-wrapper img {
  max-width: 13%;
}
.ProductRenie .container .row:nth-child(2) {
  margin-bottom: 50px;
}
.canvas-container {
  width: 100%;
  height: auto;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.bin-canvas {
  width: 100%;
  height: auto;
}
.meet-image .swiper-wrapper {
  align-items: center;
}

.model-title {
  margin-top: 10px;
  font-size: 20px;
  font-weight: bold;
  color: white;
  text-align: center;
}
/* .canvas-wrapper1{
  display: flex;
  justify-content: center;
} */


.scroll-headings {
  position: absolute;
  top: 10%;
  width: 100%;
}

.scroll-heading {
  font-size: 24px;
  font-weight: bold;
  opacity: 0; /* Initially hidden */
  position: absolute;
  width: 50%;
}

.scroll-heading.left {
  left: 5%;
  text-align: left;
}

.scroll-heading.right {
  right: 5%;
  text-align: right;
}



@media (min-width: 1024px) and (max-width: 1400px) {
  .crafted-renie h2 {
    width: 50%;
  }
}
@media (max-width: 1200px) {
  .renie-main-content {
    padding-top: 15%;
  }
  .meet-image canvas {
    width: 200px !important;
    height: 300px !important;
}
  .MeetRenieBin {
    height: 100vh;
  }
  .power-wrapper {
    min-height: 76vh;
  }
  .crafted-renie h2 {
    font-size: 30px;
  }
  .renie-bin-custom div {
    margin: 10px;
    padding: 8px;
}
}
@media (max-width: 992px) {
  .renie-main-content h1 {
    font-size: 30px;
  }
  .banner-sv {
    width: 123px;
  }
  .renie-main-content p {
    font-size: 16px;
  }
  .renie-main-content {
    padding-top: 16%;
  }
  .renie-card {
    padding: 20px 10px;
    width: 140px;
  }
  .renie-card img {
    max-width: 50%;
  }
  .renie-card p {
    font-size: 14px;
    margin-top: 0px !important;
  }
  .crafted-card {
    height: 400px;
  }
  .crafted-card h3 {
    width: 80%;
    font-size: 22px;
  }
  .crafted-card-1 {
    padding: 16px;
    height: 190px;
  }
  .power-wrapper {
    min-height: 50vh;
    padding: 50px 0px;
  }
  .crafted-card-1 h3:nth-child(2) {
    font-size: 14px;
    margin-bottom: 10px;
  }
  .custom-boxes .crafted-card-1:nth-child(2) h3 {
    font-size: 16px;
  }
  .crafted-renie h2 {
    width: 70%;
    font-size: 28px;
  }
  .product-box {
    padding-right: 0px;
  }
  .product-box-wrapper img {
    max-width: 22%;
  }
  .product-renie-height {
    padding: 20px 0px;
  }
  .discover h2 {
    font-size: 22px;
  }
  .discover p {
    width: 100%;
  }
  .discover img {
    max-width: 50%;
  }
  .footer-upper-section {
    padding: 0px 0 50px;
  }
  .footer-left-section h6 {
    font-size: 16px;
    line-height: 24px;
  }
  .newsletter button {
    font-size: 8px;
    padding: 5px 10px;
    top: 23%;
  }
  .userfull-links h6 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  .userfull-links ul li {
    font-size: 14px;
  }
  .footer-text {
    width: 60%;
    font-size: 12px;
  }
  .foolter-links {
    width: 63%;
  }
  .footer-section {
    height: 60vh;
  }
  .newsletter input::placeholder {
    font-size: 10px;
  }
  .power-youtube iframe {
    height: 30vh;
  }
  .meet-mini-box p {
    font-size: 12px;
  }
  .power p {
    width: 100%;
  }
  .crafted-card-1 ul li {
    font-size: 12px;
  }
}
@media (max-width: 787px) {
  .foolter-links {
    width: 100%;
  }
  .reniebin-paragraph p {
    font-size: 14px;
}
  .renie-card iframe {
    width: 100%;
    margin: unset;
  }
  .renie-bin-custom div img {
    max-width: 50%;
}
  .renie-bin-custom{
    flex-wrap: wrap;
  }
  .MeetRenieBin {
    height: 125vh;
}
  .renie-bin-custom div {
    margin: 5px;
    padding: 5px;
}
  .renie-card {
    padding: 20px 24px;
  }
  .renie-card p {
    margin-top: -20px !important;
  }
}
@media (max-width: 574px) {
  .renie-main-content {
    padding-top: 10%;
  }
  .renie-bin-custom{
    display: none;
  }
  .renie-card p {
    margin-top: -32px !important;
  }
  .ProductRenie h2 {
    font-size: 30px;
  }
  .discover-image {
    justify-content: center;
  }
  .renie-main-content p {
    font-size: 14px;
    text-align: center;
    width: 70%;
  }
  .renie-main-content h1 {
    font-size: 26px;
  }
  .banner-boxes {
    flex-wrap: wrap;
  }
  .banner-boxes h6 {
    font-size: 12px;
    line-height: 16px;
  }
  .banner-boxes img {
    max-width: 20%;
  }
  .renie-card img {
    max-width: 60%;
  }
  .renie-card p {
    font-size: 10px;
  }
  .renie-card {
    padding: 0px 0;
    border-radius: 67px;
    width: 25% !important;
    height: 178px;
  }
  .meet-image img {
    max-width: 46%;
  }
  .meet-main-banner h2 {
    font-size: 26px;
  }
  .meet-main-banner p {
    font-size: 13px;
  }
  .meet-para {
    width: 100%;
    font-size: 10px;
    margin: 20px 0px;
    text-align: center;
  }
  .meet-image .swiper-slide {
    justify-content: center;
    display: flex;
    flex-direction: column;
  }
  .meet-image canvas {
    width: 300px !important;
    height: 300px !important;
}
.model-title {
  margin-top: 0px;
  position: absolute;
  bottom: 10%;
  transform: translateX(100%);
}
  .meet-mini-box {
    gap: 10px;
    flex-wrap: wrap;
    margin-top: 20px;
  }
  .meet-mini-box img {
    max-width: 30%;
  }
  .meet-mini-box div {
    margin-top: 0px;
    padding: 15px 5px;
    width: 30%;
  }
  .MeetRenieBin .swiper-horizontal > .swiper-pagination-bullets,
  .swiper-pagination-bullets.swiper-pagination-horizontal {
    bottom: 3%;
  }
  .power h2 {
    font-size: 26px;
    text-align: center;
  }
  .power p {
    font-size: 12px;
    text-align: center
  }
  .power-youtube iframe {
    width: 100%;
  }
  .power-youtube iframe:nth-child(2) {
    display: none;
  }
  .crafted-renie h2 {
    width: 90%;
    font-size: 20px;
    text-align: center;
    line-height: 28px;
  }
  .power-wrapper {
    padding: 50px 0px;
  }
  .crafted-card {
    height: 363px;
  }
  .power-wrapper .row .row div {
    padding-right: 0px !important;
    margin-bottom: 10px;
  }
  .custom-row {
    justify-content: center;
  }
  .custom-row div {
    margin-bottom: 10px;
    width: 100%;
  }
  .ProductRenie .container .row:nth-child(2) {
    margin-bottom: 0px;
  }
  .product-box-wrapper img {
    max-width: 18%;
  }
  .product-renie-height {
    padding-right: 30px;
    padding-left: 30px;
  }
  .discover-section h2 {
    text-align: center !important;
  }
  .discover p {
    width: 80%;
    font-size: 12px;
    text-align: center !important;
    margin: 0 auto;
  }

  .custom-footer-section {
    padding: 20px 0px 20px 20px;
  }
  .footer-section {
    margin: 0px;
  }
  .footer-text {
    width: 100%;
  }
  .bootom-footer p {
    font-size: 8px;
    text-align: center;
  }
  .ground-section {
    display: none !important;
  }
  .userfull-links ul li {
    font-size: 12px;
  }
  .banner-boxes {
    gap: 10px;
  }
  .banner-boxes div {
    width: 30%;
    text-align: center;
  }
}
