.renie-box-wrapper h1 {
  font-size: 40px;
  font-weight: 700;
  line-height: 40px;
  text-align: center;
  background: -webkit-linear-gradient(
    80deg,
    #4765e6 0%,
    #5c4099 46%,
    #e31662 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  width: 45%;
  margin: 0 auto;
  padding-bottom: 10px;
}
.reniehub {
  margin: 20px 20px 0px 20px;
  background-color: white;
}
.renie-box-wrapper p {
  font-size: 14px;
  line-height: 21px;
  color: black;
  font-weight: 400;
  text-align: center;
  width: 40%;
  margin: 0 auto;
}

.reniehub-wrapper {
  display: flex;
  align-items: center;
  padding-top: 10%;
  background-image: url("/assets/footer.png");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: 100% 70vh;
}
.renie-mobile-banner {
  position: absolute;
  right: 0;
  bottom: 10%;
}
.reniehub .brand-slider-container h3 {
  margin-bottom: 0px !important;
}
.renie-waste {
  background-image: url("/assets/reniehub/bg.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: auto;
}
.renie-waste-wrapper {
  padding: 200px 0px;
}
.renie-waste-box {
  margin-bottom: 8%;
}
.renie-waste-box h2 {
  font-size: 40px;
  line-height: 50px;
  font-weight: 700;
  text-align: center;
  width: 70%;
  margin: 0 auto;
}

.waste-div {
  text-align: center;
  padding: 0px 100px;
}
.waste-div p {
  font-size: 14px;
  line-height: 18px;
  margin-top: 10px;
}
.waste-div img {
  margin: 0 auto;
}
.all-waste-data {
  background: -webkit-linear-gradient(
    80deg,
    #4765e6 0%,
    #5c4099 46%,
    #e31662 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.control {
  background: linear-gradient(120deg, #4765e6 0%, #5c4099 46%, #e31662 100%);
  padding: 120px 0px;
}
.control-upper-section h2 {
  font-size: 50px;
  font-weight: 600;
  text-align: center;
  color: white;
  margin-bottom: 15px;
}
.control-upper-section p {
  font-size: 16px;
  color: white;
  text-align: center;
  line-height: 1.6rem;
  font-weight: 300;
}
.control-upper-section {
  width: 60%;
  margin: 0 auto;
  margin-bottom: 100px;
}
.mb-100 {
  margin-bottom: 100px;
}
.control-below-section h2 {
  font-size: 36px;
  color: white;
  font-weight: 600;
  line-height: 40px;
  margin-bottom: 20px;
  padding-right: 100px;
}
.control-below-section p {
  font-size: 16px;
  color: white;
  font-weight: 300;
  padding-right: 100px;
}
.management {
  background: linear-gradient(120deg, #4765e6 0%, #5c4099 46%, #e31662 100%);
  padding: 200px 0px;
}
.management h2 {
  color: white;
  font-size: 34px;
  line-height: 46px;
  width: 50%;
  margin: 0 auto;
  padding-bottom: 15px;
}
.management-test {
  font-size: 14px;
  color: white;
  font-weight: 300;
  width: 30%;
  margin: 0 auto;
}
.managment-title {
  background: -webkit-linear-gradient(
    80deg,
    #4765e6 0%,
    #5c4099 46%,
    #e31662 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 10px;
}
.managemnt-paragraph {
  font-size: 14px;
  font-weight: 300;
  width: 30%;
  margin: 0 auto;
}
.car p {
  font-size: 14px;
}
.faqs h2 {
  font-size: 24px;
  font-weight: 400;
}
.faqs h3 {
  font-size: 40px;
  font-weight: 600;
}
.faqs {
  padding: 120px 0px;
}
/* .faqs .accordion-item{
  border: 1px solid black !important;
} */

.faqs .accordion-button {
  font-weight: 500 !important;
}

.faqs .border-bottom {
  border-bottom: var(--bs-border-width) var(--bs-border-style) #000000 !important;
}

.designed {
  background: linear-gradient(100deg, #4765e6 0%, #5c4099 46%, #e31662 100%);
  padding: 100px 0px;
}
.designed .container {
  text-align: center;
}
.designed h2 {
  font-size: 70px;
  line-height: 76px;
  color: white;
  text-align: center;
  font-weight: 600;
  width: 90%;
  margin: 0 auto;
}
.designed button {
  background-color: #e31662;
  padding: 10px 40px;
  color: white;
  border-radius: 6px;
  font-size: 14px;
  margin-top: 20px;
}

.faqs {
  padding: 120px 0px;
  background-color: white;
}

.accordion {
  display: flex;
  flex-direction: column;
}

.accordion-items {
  margin-bottom: 10px;
}

.accordion-header {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  padding: 10px 0px 20px 0px;
  background-color: white;
  font-weight: bold;
  border-bottom: 1px solid #000000;
}
.accordion-header h4 {
  font-weight: 400 !important;
  color: #000000;
}

.accordion-body {
  padding: 20px 0px 20px 0px;
  display: none;
  background-color: white;
  transition: max-height 0.3s ease, opacity 0.3s ease;
}

.accordion-body.open {
  display: block;
}

@media (min-width: 1441px) {
  .reniehub-wrapper {
    height: 130vh;
    background-size: 100% 60vh;
  }
}

@media (max-width: 1200px) {
  .renie-box-wrapper h1 {
    width: 56%;
  }
  .renie-mobile-banner {
    position: absolute;
    right: -6%;
    bottom: 12%;
    max-width: 24%;
  }
  .renie-waste-wrapper {
    padding: 100px 0;
  }
  .renie-waste-box h2 {
    font-size: 30px;
    line-height: 38px;
  }
  .waste-div {
    padding: 0 50px;
  }
  .control-upper-section h2 {
    font-size: 40px;
  }
  .control-upper-section p {
    font-size: 14px;
  }
  .control-below-section h2 {
    font-size: 30px;
    line-height: 35px;
    margin-bottom: 17px;
    padding-right: 55px;
  }
  .management h2 {
    font-size: 28px;
    line-height: 38px;
    width: 44%;
  }
  .designed h2 {
    font-size: 51px;
    line-height: 60px;
  }
  .reniehub-wrapper {
    background-size: 100% 60vh;
  }
}

@media (max-width: 992px) {
  .renie-box-wrapper h1 {
    width: 75%;
  }
  .renie-box-wrapper p {
    width: 60%;
  }
  .reniehub-wrapper {
    background-size: 100% 42vh;
    padding-top: 16%;
  }
  .renie-waste-box h2 {
    width: 100%;
  }
  .waste-div {
    padding: 0 15px;
  }
  .control-upper-section {
    width: 90%;
    margin-bottom: 50px;
  }
  .control-below-section h2 {
    font-size: 26px;
    line-height: 30px;
    margin-bottom: 15px;
    padding-right: 0px;
  }
  .control-below-section {
    flex-direction: column-reverse;
    margin-bottom: 50px;
  }
  .justify-content-center-md {
    justify-content: center !important;
    margin-bottom: 20px;
  }
  .revolution {
    text-align: center;
    width: 80%;
    margin: 0 auto;
  }
  .revolution p {
    padding: 0px;
  }
  .m-below-section {
    flex-direction: column;
  }
  .m-below-section .col-lg-6 div {
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .control-below-section p {
    padding-right: 0px;
  }
  .track-data {
    margin-top: 20px;
  }
  .control {
    padding: 50px 0;
  }
  .management h2 {
    width: 80%;
  }
  .management-test {
    width: 50%;
  }
  .managemnt-paragraph {
    width: 60%;
  }
  .designed h2 {
    font-size: 38px;
    line-height: 46px;
  }
  .faqs {
    padding: 70px 0px;
  }
}

@media (max-width: 768px) {
  .reniehub-wrapper {
    background-size: 100% 42vh;
    padding-top: 16%;
    padding-bottom: 10%;
  }
  .reniehub .brand-slider-container {
    bottom: -2%;
  }
  .renie-mobile-banner {
    right: -1%;
  }
}

@media (max-width: 500px) {
  .renie-box-wrapper h1 {
    width: 100%;
    font-size: 26px;
    line-height: 30px;
  }
  .reniehub-wrapper {
    background-size: 100% 25vh;
    padding-top: 30%;
    padding-bottom: 10%;
}
.renie-waste {
  background-image: none !important;
  background-color: white !important;
}
.renie-box-wrapper p {
  width: 100%;
  font-size: 12px;
  margin-bottom: 20px !important;
}
.renie-waste-box h2 {
  font-size: 24px;
  line-height: 36px;
  width: 92%;
}
.custom-disposal-row .col-lg-4{
  margin-bottom: 20px;
}
.renie-waste-wrapper {
  padding: 50px 0;
}
.control-upper-section h2 {
  font-size: 28px;
}
.control-below-section h2 {
  font-size: 20px;
  line-height: 26px;
}
.control-below-section img{
  max-width: 80%;
  margin: 0 auto;
}
.control-below-section p {
  font-size: 13px;
}
.management h2 {
  font-size: 22px;
  line-height: 30px;
}
.management-test {
  width: 90%;
}
.managemnt-paragraph {
  width: 80%;
}
.faqs {
  padding: 50px 0;
}
.designed h2 {
  font-size: 22px;
  line-height: 28px;
}
.designed {
  padding: 50px 0;
}
}
