.renie-admin {
  min-height: 110vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("/assets/renieadmin/bg.webp");
  background-repeat: no-repeat;
  background-position: top right;
}
.dashboard-preview{
  background-image: url('/assets/renieadmin/Layer_1.webp');
  background-position: top center;
  background-repeat: no-repeat;
  background-size: auto;
}
.custom-ads-image{
  position: absolute;
  bottom: 0;
  right: 0;
}
.admin-icon{
  display: flex;
  gap: 20px;
  padding-left: 20px;
}
.admin-icon img{
  max-width: 30%;
}
.renie-admin-img{
  margin-bottom: -108px;
}
.renie-admin h1 {
  font-size: 80px;
  font-weight: bold;
  background: -webkit-linear-gradient(
    80deg,
    #4765e6 0%,
    #5c4099 46%,
    #e31662 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.renie-admin h2 {
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
  color: #4765e6;
}
.renie-admin p {
  font-size: 14px;
  line-height: 1.4rem;
  font-weight: 400;
  width: 70%;
}

.renie-admin img {
  transform: translateX(26px);
}
.renie-admin-left-box {
  padding-left: 6%;
}
.features {
  padding: 100px 0px;
}
.feature-text {
  font-size: 14px;
  color: white;
  text-align: center;
  width: 50%;
  margin: 0 auto;
}
.feature-h4 {
  margin-top: 40px;
}
.feature-h4 h4 {
  font-size: 28px;
  text-align: left;
  width: 60%;
  font-weight: 600;
  margin: 10px 0px;
}
.feature-h4 p {
  color: white;
  font-size: 12px;
  margin-top: 15px;
  width: 80%;
}
.feature-h4 h5 {
  font-size: 16px;
  font-weight: 500;
  margin-top: 20px;
}
.dashboard-preview {
  padding: 100px 0px 0px 0px;
}
.dashboard-preview figure {
  display: flex;
  align-items: center;
  justify-content: center;
}
.dashboard-preview h2 {
  font-size: 40px;
  font-weight: 700;
  width: 40%;
  margin: 0 auto;
  padding: 20px 0px;
  background: -webkit-linear-gradient(
    80deg,
    #4765e6 0%,
    #5c4099 46%,
    #e31662 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.dashboard-preview p {
  width: 60%;
  margin: 0 auto;
}

.renie-admin figure {
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (min-width: 1536px){
  .custom-ads-image {
    transform: translateX(-70%);
}
}

@media (max-width: 1200px) {
  .renie-admin h1 {
    font-size: 74px;
  }
  .renie-admin p {
    width: 97%;
  }
  .feature-h4 h4 {
    font-size: 20px;
  }
}
@media (max-width: 992px) {
  .renie-admin {
    min-height: 90vh;
  }
  .renie-admin h2 {
    font-size: 26px;
  }
  .custom-ads-image{
    max-width: 15%;
  }
  .renie-admin h1 {
    font-size: 60px;
  }
  .renie-admin p {
    width: 94%;
  }
  .dashboard-preview h2 {
    font-size: 36px;
    font-weight: 700;
    width: 70%;
  }
  .dashboard-preview p {
    width: 80%;
  }
  .feature-h4 h4 {
    width: 60%;
  }
}
@media (max-width: 786px) {
  .renie-admin {
    min-height: 80vh;
  }
  .custom-ads-image{
    max-width: 15%;
  }
  .renie-admin h2 {
    font-size: 20px;
  }
  .renie-admin h1 {
    font-size: 46px;
  }
  .renie-admin p {
    width: 94%;
    font-size: 12px !important;
  }
}
@media (max-width: 576px) {
  .renie-admin {
    min-height: 90vh;
    padding-top: 142px !important;
  }
  .renie-admin h2 {
    font-size: 16px;
  }
  .renie-admin{
    background-image: none;
    background-color: white !important;
  }
  .renie-admin h1 {
    font-size: 40px;
  }
  .renieadmin-image {
    max-width: 120% !important;
  }
  .renie-admin img {
    transform: translateX(12px);
  }
  .scroll-down {
    max-width: 30%;
  }
  .feature-text {
    font-size: 14px;
    width: 90%;
  }
  .feature-h4 p {
    width: 100%;
}
.renie-admin-img{
  margin-top: 50px;
}
  .feature-h4 {
    text-align: center !important;
  }
  .dashboard-preview {
    background-image: none;
}
  .feature-h4 h4 {
    width: 60%;
    margin: 0 auto;
    text-align: left;
  }
  .feature-h4 p {
    margin: 0 auto;
  }
  .admin-icon {
    display: flex;
    justify-content: center;
  }
  .admin-icon img {
    margin-bottom: 20px;
    max-width: 25%;
  }
  .dashboard-preview {
    padding: 50px 0 0;
  }
  .dashboard-preview h2 {
    font-size: 23px;
    width: 80%;
  }
  .dashboard-preview p {
    width: 90%;
    font-size: 12px;
  }
  .features {
    padding: 50px 0;
}
}
