.rene-banner {
  background: linear-gradient(150deg, #4765e6 0%, #5c4099 46%, #e31662 100%);
  width: 100%;
}
.animated-h2 {
  font-size: 60px;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 45px;
  background: -webkit-linear-gradient(
    80deg,
    #4765e6 0%,
    #5c4099 46%,
    #e31662 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  width: 80%;
  margin: 0 auto;
  text-align: center;
}
.my-down-arrow {
  display: flex;
  justify-content: center;
  position: absolute;
  left: 50%;
  bottom: 10px;
  transform: translate(-50%);
}
.main-renie-banner h4 {
  color: white !important;
}
.custom-margin-top {
  margin-top: 40px;
}
.main-renie-banner {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  color: white;
  width: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.custom-data-svg h4 {
  color: white !important;
  text-align: left;
}
.custom-svg-heading {
  font-size: 24px;
  color: white;
  text-align: left;
  padding: 0px 20px;
  line-height: 28px;
  font-weight: 500;
}
.scan-title h1 {
  color: white;
  width: 80%;
}
.scan-title-3 h1 {
  width: 40%;
  margin-bottom: 10px;
}
.main-renie-banner img {
  max-width: 100%;
  height: auto;
}
.diff-color h1 {
  color: #e21663 !important;
}
.main-renie-banner h1 {
  font-weight: bold;
  width: 70%;
}
.main-renie-banner h5 {
  font-size: 24px;
  font-weight: 600;
}
.renie-nexus {
  background-color: white;
}
.main-renie-nexus h1 {
  color: #4765e6;
  font-weight: 800;
  width: 90%;
}
.main-renie-nexus p {
  color: black;
  margin: 10px 0px;
  width: 80%;
  margin: 20px 0px;
}
.main-renie-nexus button {
  font-size: 14px;
  background-color: #e31662;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  margin-top: 10px;
  border: 0;
}
.renie-love {
  background: linear-gradient(120deg, #4765e6 0%, #4765e6 46%, #283880 100%);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 100px 0px;
}
.renie-love h2 {
  color: white;
  font-size: 60px;
  text-align: center;
  font-weight: 700;
}
.races {
  width: fit-content;
  display: flex;
  flex-wrap: nowrap;
}
.races img {
  max-width: 30%;
}
.easystep {
  background-image: url("/assets/easybg.webp");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.easystep-wrapper {
  padding: 120px 10px 200px 10px;
  display: flex;
  align-items: start;
  justify-content: center;
}
.easystep-wrapper h2 {
  font-size: 60px;
  text-align: center;
  font-weight: 800;
  color: white;
  margin-bottom: 100px;
}
.left-track h3 {
  font-size: 60px;
  color: white;
  font-weight: 800;
}
.left-track p {
  font-size: 16px;
  color: white;
  width: 60%;
}
.animated-left-column{
  background: url('/assets/json/red-line.png');
  background-position: right top;
  background-size: auto;
  background-repeat: no-repeat;
}
.animated-right-column{
  background: url('/assets/json/red-line.png');
  background-position: left top;
  background-size: auto;
  background-repeat: no-repeat;
}
.renie-user{
  display: flex;
  justify-content: end;
  transform: translate(-20%, -70%);
}

.vertical-box div {
  width: 150px;
  background-color: #e31662;
  height: 65vh;
  position: absolute;
  right: 0;
  top: 12vh;
}
.vertical-box-right div {
  width: 150px;
  background-color: #5c4099;
  height: 65vh;
  position: absolute;
  left: 0;
  top: 12vh;
}

.white-box {
  position: absolute;
  left: 50%;
}
.scan-title-2 {
  top: 25rem !important;
  left: 25%;
}
.green h1 {
  color: white;
  text-align: center;
}

.animatedsection {
  background-color: white;
  padding: 120px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.green {
  background: linear-gradient(150deg, #4765e6 0%, #5c4099 46%, #e31662 100%);
  min-height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.green h2 {
  color: white;
  text-align: center;
  font-size: 60px;
  font-weight: 800;
  line-height: 70px;
  margin-bottom: 10px;
}
.green p {
  color: white;
  text-align: center;
  width: 64%;
  margin: 0 auto;
}
.green button {
  background-color: #e31662;
  color: white;
  padding: 10px 20px;
  border-radius: 8px;
  text-align: center;
  display: block;
  border: 0;
}
.main-renie-banner img {
  max-width: 20%;
}
.animated-left-section div {
  width: 80%;
  margin-bottom: 25px;
}
.animated-left-section h4 {
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
  color: black;
}
@media (min-width: 1440px) {
  .main-renie-banner h1 {
    width: 50%;
    margin-top: 30px;
  }
  .white-box {
    bottom: -25%;
  }
}
@media (max-width: 1440px) {
  .easystep-wrapper {
    padding: 120px 10px 330px;
  }
  .scan-title-2 {
    left: 34%;
  }
  .renie-ads h1 {
    line-height: 54px !important;
  }
  .main-renie-banner h4 {
    font-size: 16px;
  }
  .main-renie-banner h1 {
    width: 50%;
    margin-top: 10px;
    font-size: 40px;
    line-height: 50px;
  }
  .optimized-text h2 {
    width: 70%;
    font-size: 30px;
    line-height: 37px;
  }
}
@media (max-width: 1200px) {
  .main-renie-banner img {
    max-width: 26%;
  }
  .main-renie-banner {
    top: 3%;
  }
  .animated-h2 {
    font-size: 40px;
  }
  .custom-svg-heading {
    font-size: 14px !important;
    padding: 0px 20px !important;
    line-height: 18px !important;
  }
  .main-renie-nexus h2 {
    font-size: 45px;
    line-height: 48px;
  }
  .left-track h3 {
    font-size: 36px;
  }
  .scan-title-2 {
    left: 36%;
  }
  .left-track p {
    font-size: 13px;
    width: 70%;
    margin-top: 10px;
  }
  .green h2 {
    font-size: 60px;
  }
}
@media (max-width: 992px) {
  .main-renie-nexus h2 {
    font-size: 36px;
    line-height: 40px;
  }
  .main-renie-banner {
    top: 48%;
  }
  .main-renie-banner h1 {
    width: 45%;
    font-size: 26px;
    line-height: 32px;
  }
  .white-box {
    max-width: 30%;
    bottom: -110%;
  }
  .renie-ads {
    padding: 120px 20px !important;
  }
  .renie-future-section h4 {
    font-size: 40px !important;
  }
  .renie-boxes h6 {
    font-size: 20px !important;
  }
  .animated-h2 {
    font-size: 30px;
  }
  .custom-data-svg iframe,
  .custom-data-svg img {
    height: 200px !important;
  }
  .animated-left-section h4 {
    font-size: 14px;
    line-height: 20px;
  }
  .animatedsection {
    min-height: 70vh;
  }
  .green {
    background: linear-gradient(150deg, #4765e6 0%, #5c4099 46%, #e31662 100%);
    min-height: 60vh;
  }
  .renie-love h2 {
    font-size: 42px;
  }
  .main-renie-nexus p {
    width: 100%;
  }
  .easystep-wrapper h2 {
    font-size: 50px;
  }
  .easystep-wrapper {
    padding: 50px 0px;
  }
  .easystep-wrapper {
    padding: 100px 20px;
    height: 140vh;
  }
  .custom-scan-height {
    min-height: 40vh;
  }
  .animated-main-image img {
    max-width: 80%;
  }

  .vertical-box div {
    width: 100px;
  }
  .vertical-box-right div {
    width: 100px;
  }
  .white-box-2 {
    top: 33% !important;
  }
  .left-track p {
    width: 74%;
  }
  .green h2 {
    font-size: 50px;
    line-height: 55px;
  }
}
@media (max-width: 786px) {
  .main-renie-banner {
    padding-top: 80px;
  }
  .scan-title-2 {
    left: 31%;
    top: 17rem !important;
  }
  .main-renie-nexus h1 {
    width: 100%;
  }
  .renie-future-section h4 {
    font-size: 30px !important;
  }
  .renie-nexus-wrapper img {
    max-width: 50%;
    margin: 0 auto;
  }
  .renie-nexus-image {
    display: flex;
    justify-content: center;
  }
  .main-renie-nexus {
    text-align: center;
    width: 100%;
    margin: 0 auto;
    padding: 50px 0px;
  }
  .main-renie-nexus h2 {
    width: 100%;
  }
  .green {
    min-height: 56vh;
  }
  .easystep-wrapper h2 {
    font-size: 36px;
  }
  .left-track h3 {
    font-size: 27px;
  }
  .left-track p {
    font-size: 12px;
    width: 70%;
  }
  .white-box {
    max-width: 35%;
  }
  .animated-left-column .custom-scan-height {
    margin-left: 20px;
  }
  .custom-center {
    display: flex;
    justify-content: center;
  }
  .custom-center img {
    width: 60%;
  }
}
@media (max-width: 576px) {
  .green h2 {
    font-size: 32px;
    line-height: 38px;
  }
  .renie-ads h1 {
    font-size: 27px;
    line-height: 40px !important;
  }
  .white-box {
    max-width: 30%;
  }
  .main-renie-banner {
  }
  .renie-banner .banner-svg-bin {
    min-height: 100vh;
  }
  .main-renie-nexus h1 {
    width: 100%;
    font-size: 30px !important;
  }
  .scan-title-3 h1 {
    width: 48% !important;
  }
  .easystep-wrapper {
    padding: 40px 20px;
  }
  .animatedsection {
    min-height: 100vh;
    padding: 50px 0px;
  }
  .custom-margin-top {
    flex-direction: column-reverse;
  }
  .renie-nexus-wrapper .row {
    flex-direction: column-reverse;
  }
  .left-track p {
    width: 65% !important;
  }
  .renie-love h2 {
    font-size: 28px;
    padding: 0px 46px;
  }
  .animated-main-image {
    margin-bottom: 30px;
  }
  .animated-left-section div {
    flex-direction: column-reverse;
    text-align: center;
    margin-bottom: 10px;
  }
  .animated-left-section h4 {
    width: 80%;
  }
  .renie-love {
    min-height: 100vh !important;
    padding: 50px 10px;
  }
  .easystep-wrapper h2 {
    font-size: 26px;
  }
  .custom-svg-heading {
    text-align: center;
    margin-bottom: 0px;
    font-size: 12px !important;
    padding: 0 20px !important;
    line-height: 16px !important;
  }
  .animated-h2 {
    font-size: 26px;
    width: 100%;
  }
  .animated-left-section div {
    width: 95%;
  }
  .custom-margin-top {
    margin-top: 20px;
  }
  .scan-title {
    top: 8vh;
  }
  .easystep-wrapper {
    height: 110vh;
    padding: 50px 0px;
  }
  .vertical-box div {
    height: 30vh;
    right: 20px;
    top: 12vh;
  }
  .vertical-box-right div {
    height: 35vh;
    left: 10px;
    top: 4vh;
  }
  .media-container div canvas {
    width: 90% !important;
  }
  .scan-title-2 {
    left: 33%;
    top: 4rem !important;
  }
  .white-box-2 {
    top: 66% !important;
    left: 3rem !important;
  }
  .white-box {
    right: 20%;
    top: 15rem;
  }
  .my-down-arrow img {
    max-width: 80%;
  }
  .custom-scan-height {
    min-height: 44vh !important;
  }
  .renie-love h2 {
    font-size: 30px;
  }
  .custom-love-images img {
    max-width: 100%;
  }
  .main-renie-banner h1 {
    font-size: 27px !important;
    width: 80% !important;
    margin-bottom: 10px;
  }
  .main-renie-banner h5 {
    font-size: 20px;
  }
  .main-renie-banner img {
    max-width: 48% !important;
  }
  .green p {
    width: 100%;
  }
}

@media (max-width: 375px) {
  .left-track .scan-title-3  p{
    width: 65% !important;
    line-height: 20px;
  }
   .left-track p {
    width: 90% !important;
    line-height: 20px;
  }
  .renie-nexus-wrapper img {
    max-width: 89%;
    margin: 0 auto;
}
}
